/* Your Code Goes Here */
.index {
  background-color: #fff;
  color: #222;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  position: relative;
}
.index .logo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.index .logo .home {
  z-index: 0;
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  position: absolute;
  top: 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .index .logo .home {
    max-width: 800px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .index .logo .home {
    display: none;
  }
}
.index .logo .fade-up {
  opacity: 0;
  top: -100vh;
  transition: all 1s ease-in;
}
.index .logo .fade-down {
  opacity: 1;
  top: 0;
  transition: all 1s ease-out;
}
.index .logo .mobile {
  display: none;
}
@media (max-width: 500px) {
  .index .logo .mobile {
    display: block;
    width: 100vw;
    position: unset;
  }
}
.index .logo h1 {
  position: absolute;
  z-index: 1;
  font-size: 4rem;
  font-weight: 500;
  position: fixed;
  top: 55vh;
  right: 60%;
  line-height: 75px;
  color: #fff;
  letter-spacing: 1.3px;
  text-shadow: -1px 1px white;
}
@media (max-width: 800px) {
  .index .logo h1 {
    top: 35%;
    left: 5%;
  }
}
@media (max-width: 500px) {
  .index .logo h1 {
    font-size: 3rem;
    line-height: 1.2;
    top: 35%;
    left: 20px;
  }
}
@media (max-width: 500px) {
  .index .logo {
    margin-bottom: 40px;
  }
}
.index main {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  max-width: 900px;
  margin: 100vh auto 50px auto;
  position: relative;
}
.index main .focus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  padding: 50px 10px;
  margin-bottom: 20vh;
}
.index main .focus div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  height: auto;
}
.index main .focus div h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 13px 0;
}
@media (max-width: 500px) {
  .index main .focus div h2 {
    margin-top: 20px;
  }
}
.index main .focus div p {
  line-height: 1.5;
  padding: 13px 0;
  width: 95%;
}
.index main .focus div .button {
  width: 140px;
  padding: 15px 0;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  color: #222;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 800px) {
  .index main .focus div .button {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .index main .focus div .button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .index main .focus div {
    width: 90%;
    order: 1;
  }
}
.index main .focus .img-one-home {
  margin: 0 20px;
}
@media (max-width: 500px) {
  .index main .focus .img-one-home {
    display: none;
  }
}
.index main .focus .img-one-mobile {
  display: none;
}
@media (max-width: 500px) {
  .index main .focus .img-one-mobile {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
}
.index main .focus .img-two-home {
  margin-right: 40px;
}
@media (max-width: 500px) {
  .index main .focus .img-two-home {
    display: none;
  }
}
.index main .focus .img-two-mobile {
  display: none;
}
@media (max-width: 500px) {
  .index main .focus .img-two-mobile {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .index main .focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}
.index main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index main .content h2 {
  font-size: 1.4rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: -30px;
}
@media (max-width: 800px) {
  .index main .content h2 {
    margin-left: 2%;
  }
}
@media (max-width: 500px) {
  .index main .content h2 {
    margin: 0 auto;
    width: 90%;
  }
}
.index main .content .img-overlay {
  position: relative;
  align-self: flex-start;
  margin: 80px 0 80px 0;
}
.index main .content .img-overlay .under {
  position: absolute;
  font-size: 1.4rem;
  background-color: #d8d8d8;
  bottom: -38px;
  letter-spacing: 10px;
  padding: 35px 45px;
  border: 1px solid #fff;
}
@media (max-width: 500px) {
  .index main .content .img-overlay .under {
    width: 80vw;
    text-align: center;
  }
}
.index main .content .img-overlay .right {
  right: -1px;
}
@media (max-width: 500px) {
  .index main .content .img-overlay .right {
    right: calc(100vw - 90vw);
  }
}
.index main .content .img-overlay .left {
  left: -1px;
}
@media (max-width: 500px) {
  .index main .content .img-overlay .left {
    left: calc(100vw - 90vw);
  }
}
@media (max-width: 500px) {
  .index main .content .img-overlay {
    margin: 50px auto 100px auto;
    align-self: unset;
    width: 100vw;
  }
}
.index main .content p {
  width: 50%;
  line-height: 1.8;
  margin-top: 10px;
  font-size: 1.1rem;
}
@media (max-width: 800px) {
  .index main .content p {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .index main .content p {
    width: 90%;
    margin: 0;
    font-size: 1.4rem;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 500px) {
  .index main .content {
    max-width: 100%;
  }
  .index main .content img {
    width: auto;
    margin-left: -20px;
  }
}
@media (max-width: 500px) {
  .index main .content .overlay-home {
    display: none;
  }
}
@media (max-width: 800px) {
  .index main .content .overlay-home {
    width: 100%;
  }
}
.index main .content .overlay-mobile {
  display: none;
}
@media (max-width: 500px) {
  .index main .content .overlay-mobile {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .index main .content :nth-child(1) {
    order: 0;
  }
  .index main .content :nth-child(2) {
    order: 0;
  }
  .index main .content :nth-child(3) {
    order: 0;
  }
  .index main .content :nth-child(4) {
    order: 0;
  }
  .index main .content :nth-child(5) {
    order: 0;
  }
  .index main .content :nth-child(6) {
    order: 0;
  }
  .index main .content :nth-child(7) {
    order: 0;
  }
  .index main .content :nth-child(8) {
    order: 0;
  }
  .index main .content :nth-child(9) {
    order: 0;
  }
  .index main .content :nth-child(10) {
    order: 0;
  }
  .index main .content :nth-child(11) {
    order: 0;
  }
}
@media (max-width: 500px) {
  .index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  .index {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  z-index: 3;
}
header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  background-color: #98A4AF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header .header-top h1 {
  font-size: 1.4rem;
  padding: 1.3% 8.2%;
  letter-spacing: 1.75px;
}
header .header-top .btn {
  height: 10%;
  padding: 1.3% 8.2%;
  z-index: 0;
}
header .header-top .btn:hover {
  cursor: pointer;
}
header .header-top .btn-hidden {
  z-index: 1;
  position: absolute;
  right: 80px;
  bottom: 0;
}
header .hidden {
  visibility: hidden;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  font-size: 4.2rem;
  background-color: #98A4AF;
  opacity: 0;
  margin: 0;
}
header nav #hide-nav {
  position: absolute;
  top: 2vh;
  right: 9vw;
}
header nav #hide-nav:hover {
  cursor: pointer;
}
header nav a {
  text-decoration: none;
  color: #fff;
  opacity: 0;
  margin-top: 0;
  padding-right: 200px;
  padding-bottom: 0;
}
header nav a:active {
  color: #000;
}
@media (max-width: 500px) {
  header nav {
    left: 0;
  }
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  max-width: 900px;
  z-index: 2;
  margin: 0 auto;
  background-color: #828282;
  color: #fff;
  padding: 50px;
  display: grid;
  grid-template-rows: 90% 5% 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "contact contact location location location" ". . . . ." "cr cr cr cr cr";
}
footer .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: contact;
}
footer .footer-right h3 {
  padding-top: 5px;
  font-size: 1.2rem;
  margin: 3px 5px;
  letter-spacing: 1px;
}
footer .footer-right input {
  width: 90%;
  padding: 8px 0;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  margin: 15px 0 10px 0;
  opacity: 0.8;
}
@media (max-width: 500px) {
  footer .footer-right input {
    width: 100%;
    margin: 10px auto;
    padding: 15px 0;
  }
}
footer .footer-right p {
  font-size: 0.8rem;
  opacity: 0.8;
}
@media (max-width: 500px) {
  footer .footer-right p {
    margin-bottom: 20px;
  }
}
footer .footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
  grid-area: location;
}
footer .footer-left .location {
  height: 100%;
  padding: 0 10px;
}
footer .footer-left .location h1 {
  font-size: 1.2rem;
}
footer .footer-left .location address {
  font-size: 0.8rem;
  opacity: 0.8;
}
@media (max-width: 500px) {
  footer .footer-left {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  footer .footer-left .newyork {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  footer .footer-left .florida {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  footer .footer-left .california {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
footer .copyright {
  grid-area: cr;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 0.8rem;
  opacity: 0.8;
}
@media (max-width: 500px) {
  footer .copyright {
    text-align: left;
  }
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }
}
body {
  font-family: "Roboto", Arial, sans-serif;
}
body .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .top .services-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .top .services-logo .service-img-desktop {
  z-index: -1;
}
@media (max-width: 500px) {
  body .top .services-logo .service-img-desktop {
    width: 200%;
    height: auto;
    margin-right: 100vw;
    margin-top: 35px;
    display: none;
  }
}
body .top .services-logo .service-img-mobile {
  display: none;
}
@media (max-width: 500px) {
  body .top .services-logo .service-img-mobile {
    display: block;
    width: 100vw;
  }
}
body .top .services-logo h1 {
  position: absolute;
  top: calc(100% - 35%);
  right: calc(100% - 31%);
  z-index: 0;
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 500px) {
  body .top .services-logo h1 {
    z-index: 1;
    left: 20px;
    top: unset;
    bottom: 20px;
    font-size: 3rem;
  }
}
body .top p {
  width: 1000px;
  padding: 50px 70px 44px 70px;
  line-height: 1.6;
}
@media (max-width: 500px) {
  body .top p {
    width: 96%;
    padding: 40px 20px;
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  body .top {
    width: 100%;
  }
}
body main {
  max-width: 900px;
  margin: 0 auto;
}
body main .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body main .btns .btn {
  font-size: 1.2rem;
  background-color: #fff;
  font-weight: bold;
  border: 2px solid #000;
  margin: auto 20px;
  width: 200px;
  padding: 13px 0;
  text-align: center;
}
body main .btns .btn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 500px) {
  body main .btns .btn {
    width: 89%;
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  body main .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 500px) {
  body main .btns {
    width: 100%;
  }
}
body main .cards {
  margin: 50px 0;
}
body main .cards .card {
  padding: 5px 30px;
}
body main .cards .card h1 {
  font-size: 1.6rem;
  font-weight: bold;
  width: 88%;
  padding: 10px 0;
}
body main .cards .card p {
  width: 88.5%;
  font-size: 1rem;
  line-height: 1.65;
  width: 50%;
}
@media (max-width: 500px) {
  body main .cards .card p {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  body main .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .cards .card img {
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  body main .cards .card .desktop-card {
    max-width: 45%;
  }
}
@media (max-width: 500px) {
  body main .cards .card .desktop-card {
    display: none;
  }
}
body main .cards .card .mobile-card {
  display: none;
}
@media (max-width: 500px) {
  body main .cards .card .mobile-card {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
}
body main .cards .hidden {
  display: none;
}
body main .cards .show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  body main {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
  }
}
.contact {
  max-width: 500px;
  margin: 0 auto;
}
.contact header {
  width: 100%;
}
.contact .logo-contact h1 {
  font-size: 3.8rem;
  padding-left: 10%;
}
@media (min-width: 800px) {
  .contact .logo-contact h1 {
    margin: 3% 4%;
  }
}
.contact .logo-contact img {
  width: 100vw;
}
@media (min-width: 800px) {
  .contact .logo-contact img {
    display: none;
  }
}
.contact .logo-contact .desktop-img {
  display: none;
}
@media (min-width: 800px) {
  .contact .logo-contact .desktop-img {
    display: unset;
    height: auto;
  }
}
@media (min-width: 800px) {
  .contact .logo-contact {
    width: unset;
  }
}
.contact h2 {
  align-self: flex-start;
  margin: 50px 0px 70px 20px;
  font-size: 2.7rem;
  font-weight: bold;
  padding-left: 12%;
}
@media (min-width: 800px) {
  .contact h2 {
    font-size: 2rem;
    margin: 50px 5%;
  }
}
.contact .contact-main {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.contact .contact-main form {
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.3;
}
.contact .contact-main form .contact-item {
  font-size: 1.2rem;
  padding: 5px 0;
}
.contact .contact-main form .email {
  font-size: 1.3rem;
  width: 90%;
  border-radius: 5px;
  opacity: 0.8;
  border: 1px solid #000;
  padding: 10px 5px;
  margin-bottom: 10px;
  text-decoration: none;
}
.contact .contact-main form .subscript {
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 30px;
}
.contact .contact-main form select {
  width: 90%;
  font-size: 1.3rem;
  height: 45px;
  background-color: #fff;
  margin-bottom: 20px;
}
.contact .contact-main form textarea {
  margin: 10px 0;
}
.contact .contact-main form ul {
  width: 100%;
  font-size: 1.3rem;
}
.contact .contact-main form ul li {
  padding: 5px 0;
}
.contact .contact-main form ul li #submit {
  width: 90%;
  font-size: 1.3rem;
  border: 1px solid #000;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
@media (min-width: 800px) {
  .contact .contact-main form ul li #submit {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .contact .contact-main form {
    margin: 0 5%;
    width: 50%;
    flex-direction: column;
  }
}
.contact .contact-main .worksites {
  align-self: flex-start;
}
.contact .contact-main .worksites h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
@media (min-width: 800px) {
  .contact .contact-main .worksites h2 {
    font-size: 1.8rem;
    margin: 0 0 30px 10%;
  }
}
.contact .contact-main .worksites h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 800px) {
  .contact .contact-main .worksites h3 {
    font-size: 1.7rem;
    margin-left: 10%;
  }
}
.contact .contact-main .worksites .address {
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  .contact .contact-main .worksites .address {
    font-size: 1.5rem;
    line-height: 2;
    margin-left: 10%;
  }
}
@media (min-width: 800px) {
  .contact .contact-main .worksites {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .contact .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto 5% auto;
  }
}
@media (min-width: 800px) {
  .contact {
    max-width: 100vw;
  }
}
.about .tabs {
  margin: 7% 15%;
}
.about .tabs h1 {
  font-size: 3rem;
  margin: 5% auto;
}
.about .tabs .btns .btn .title {
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .about .tabs .btns .btn .title {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .about .tabs {
    margin: 0;
    margin-top: 10%;
  }
}
.about .cards .card img {
  width: 30%;
}
@media (max-width: 800px) {
  .about .cards .card img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .about .cards .card img {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .about .cards .card h1 {
    margin: 0 0 5% 0;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .about .cards {
    max-width: 100%;
    margin: '0 auto';
    padding: '0';
  }
}
@media (max-width: 500px) {
  .about {
    max-width: 100%;
    margin: 0 auto;
    padding: '0';
  }
}
.projects .tabs {
  margin-top: 5%;
}
.projects .tabs h1 {
  font-size: 2rem;
  margin: 5% auto;
}
@media (max-width: 500px) {
  .projects .tabs h1 {
    font-size: 1.5rem;
    margin-left: 2%;
  }
}
.projects .tabs .btns .btn .title {
  font-size: 0.8rem;
}
@media (max-width: 800px) {
  .projects .tabs {
    margin-top: 10%;
  }
}
@media (max-width: 500px) {
  .projects .tabs {
    margin-top: 10%;
  }
}
.projects .cards .card img {
  height: 50vh;
}
@media (max-width: 500px) {
  .projects .cards .card h1 {
    margin: 0 0 5% 0;
    font-size: 2rem;
  }
}
* {
  box-sizing: border-box;
}
